body{
    max-width: 1400px;
    margin:0 auto;
    text-align:center;
    font-family:"Raleway", 'Arial', 'sans-serif';
    color: var(--headline-color-on-white);
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}
.logo {
    width: 80px;
    padding-top: 5px;
    font-display: left;
}

header {display: grid;
    grid-template-columns: 150px auto}

h1{color: darkblue;}

h2 {
    text-align: center;
    padding: 0;
    color: goldenrod;
}  

h3 {text-align: center;
    font-family: "Raleway", 'Arial', 'sans-serif';
    color: rgb(250, 80, 7);
    font-size: 2em;
}

h1, h2, h3,h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
    

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: rgb(149, 110, 80);
}
    
#background {
    height: 725px;
}

nav a:hover {
    background-color: rgb(143, 78, 78);
    color: rgb(220, 184, 140);
    text-decoration: blue;
    text-align: center;
}
nav a {
    
    text-decoration: none;
    color: #ad1616;
    text-align: center;
    padding: 35px;
}

footer{ background-color: rgb(52, 5, 43);
        color:rgb(112, 52, 169);
        text-decoration: none;
        padding: 25px 50px;
        margin-top: 200px;


}

footer a{
    color: rgb(53, 125, 125);
}



footer .social img  {
    padding-top: 15px;
}